.contact {
    text-align: center;
    background: $primaryColor;
    &__form {
        margin-bottom: 40px;
    }
    &__email {
        margin: 10px 0;
    }
    &__socialMedia {
        display: flex;
        justify-content: space-around;
        .fab {
            color: black;
            font-size: 2.4rem;
            &:hover {
                text-shadow: 1px 1px 1px white, 1px -1px 1px white, -1px -1px 1px white, -1px 1px 1px white;
            }
        }
    }
    &__textInput {
        width: 100%;
        font-size: 1.8rem;
        padding: 5px;
        border: none;
    }
    &__message {
        width: 100%;
        resize: none;
        font-size: 1.8rem;
        padding: 5px;
        border: none;
    }
    &__submit {
        margin-top: 10px;
        border: solid 1px black;
    }
        &__infoSection {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
    }
    &__infoItem {
        color: black;
        font-size: 2rem;
        margin: 10px 0;
    }
    &__infoLink:hover {
        text-shadow: 1px 1px 1px white, 1px -1px 1px white, -1px -1px 1px white, -1px 1px 1px white;
    }
    &__location {
        display: none;
    }
    &__icon {
        font-size: 2rem;
        margin-right: 10px;
    }
}