.header {
    // height: 100vh;
    &__heroImage {
        height: 90vh;
    }
    &__nav {
        height: 10vh;
        &-list {
            list-style: none;
            display: flex;
        }
    }
}