.header {
    // height: 100vh;
    &__heroImage {
        overflow: hidden;
        height: 100vh;
        background: url(../assets/portfolio-hero-image-blackandwhite.jpg);
        background-size: cover;
        background-position: center;
        position: relative;
    }
    &__overlay {
        height: 100vh;
        background: linear-gradient(to bottom rgba(0,0,0,0.3), rgba(0,0,0,0.3));
    }
    &__top-nav {
        display: flex;
        justify-content: space-between;
        padding-top: 25px;
    }
    &__hamburgerMenu {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2.4rem;
        z-index: 100;
        cursor: pointer;
        &:hover {
            color: $primaryColor;
        }
    }
    &__nav {
        display: flex;
        justify-content: flex-end; 
        &--list {
            list-style: none;
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: space-around;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            text-align: center;
            background: black;
        }
        &--exitItem {
            color: white;
            position: absolute;
            right: 20px;
            top: 20px;
            font-size: 2.4rem;
            cursor: pointer;
            &:hover {
                color: $primaryColor;
            }
        }
        &--listItem {
            text-decoration: none;
            text-transform: uppercase;
            color: white;
            font-size: 2.4rem;
            &:hover {
                color: $primaryColor;
            }
        }
    }
    &__logo {
        text-transform: uppercase;
        font-size: 1.6rem;
        color: $primaryColor;
        &--span {
            color: white;
        }
    }
    &__mainHeader {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }
    &__heroTitle {
        color: $primaryColor;
        font-size: 3.2rem;
        font-weight: bold;
        text-transform: none;
    }
    &__heroSubTitle {
        display: block;
        color: white;
        font-size: 2.4rem;
        font-weight: normal;
    }
    &__borderLeft {
        position: absolute;
        bottom: -3px;
        width: 0;
        height: 0;
        border-style: solid;
        border-left-width: 60vw;
        border-top-width: 10vh;
        border-color: transparent transparent transparent white;
    }
    &__borderRight {
        position: absolute;
        bottom: 0;
        right: -3px;
        width: 0;
        height: 0;
        border-style: solid;
        border-left-width: 40vw;
        border-bottom-width: 10vh;
        border-color: transparent transparent white transparent;
        // transform: skew(-2deg, 0)
    }
}

@media (min-width: 768px) {
    .header {
        &__hamburgerMenu {
            font-size: 4.2rem;
        }
        &__logo {
            font-size: 2.4rem;
        }
        &__heroTitle {
            font-size: 4.2rem;
        }
        &__heroSubTitle {
            font-size: 3.2rem;
        }
        &__nav {
            &--exitItem {
                font-size: 4.2rem;
            }
            &--listItem {
                font-size: 3.2rem;
            }
        }
    }
}