.projects {
    &__item {
        display: flex;
        flex-direction: column;
        margin: 35px 0;
        text-align: center;
    }
    &__languages {
        color: $primaryColor;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        padding: 10px 0;
        text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px -1px 1px black, -1px 1px 1px black;
    }
    &__content {
        padding-bottom: 10px;
    }
    &__link {
        color: black;
        &:hover {
            color: $primaryColor;
        }
    }
}

@media (min-width: 768px) {
    .projects {
        &__item {
            flex-direction: row;
            justify-content: space-between;
        }
        &__item--reverse {
            flex-direction: row-reverse;
        }
        &__image {
            width: calc(50% - 15px);
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &__description {
            width: calc(50% - 15px);
        }
    }
}

@media (min-width: 1064px) {
    .projects {
        &__description {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}