article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem; }

h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase; }

section {
  padding-top: 40px;
  padding-bottom: 40px; }

.wrapper {
  max-width: 1280px;
  width: 90vw;
  margin: 0 auto; }

img {
  width: 100%; }

a {
  text-decoration: none; }

p {
  font-size: 2rem;
  line-height: 1.5; }

.hidden {
  visibility: hidden; }

.button {
  background: #ffc600;
  color: black;
  text-decoration: none;
  padding: 10px 30px; }
  .button:hover {
    background: black;
    color: #ffc600; }

.primaryHeader--section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-right: 10px;
  position: relative;
  margin-bottom: 40px; }
  .primaryHeader--section::after {
    content: "";
    color: black;
    border-right: 2px solid black;
    height: 80%;
    position: absolute;
    right: 0;
    top: 7%; }

.primaryHeader--small {
  font-size: 1.6rem; }

.primaryHeader--subTitle {
  color: #ffc600;
  font-size: 2.4rem; }
  .primaryHeader--subTitle--black {
    font-size: 2.4rem; }
  .primaryHeader--subTitle--white {
    color: white;
    font-size: 2.4rem; }

@media (min-width: 768px) {
  .primaryHeader--small {
    font-size: 2.4rem; }
  .primaryHeader--subTitle {
    font-size: 3.2rem; }
    .primaryHeader--subTitle--black, .primaryHeader--subTitle--white {
      font-size: 3.2rem; } }

@media (min-width: 1064px) {
  .wrapper {
    width: 80vw; }
  .primaryHeader--small {
    font-size: 3.2rem; }
  .primaryHeader--subTitle {
    font-size: 4.2rem; }
    .primaryHeader--subTitle--black, .primaryHeader--subTitle--white {
      font-size: 4.2rem; } }

.header__heroImage {
  overflow: hidden;
  height: 100vh;
  background: url(../assets/portfolio-hero-image-blackandwhite.jpg);
  background-size: cover;
  background-position: center;
  position: relative; }

.header__overlay {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)));
  background: -webkit-linear-gradient(top rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  background: -o-linear-gradient(top rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  background: linear-gradient(to bottom rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)); }

.header__top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 25px; }

.header__hamburgerMenu {
  position: absolute;
  top: 20px;
  right: 5vw;
  font-size: 2.4rem;
  z-index: 100;
  cursor: pointer; }
  .header__hamburgerMenu:hover {
    color: #ffc600; }

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .header__nav--list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    background: black; }
  .header__nav--exitItem {
    color: white;
    position: absolute;
    right: 5vw;
    top: 20px;
    font-size: 2.4rem;
    cursor: pointer; }
    .header__nav--exitItem:hover {
      color: #ffc600; }
  .header__nav--listItem {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 2.4rem; }
    .header__nav--listItem:hover {
      color: #ffc600; }

.header__logo {
  text-transform: uppercase;
  font-size: 1.6rem;
  color: #ffc600; }
  .header__logo--span {
    color: white; }

.header__mainHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 80vh; }

.header__heroTitle {
  color: #ffc600;
  font-size: 3.2rem;
  font-weight: bold;
  text-transform: none; }

.header__heroSubTitle {
  display: block;
  color: white;
  font-size: 2.4rem;
  font-weight: normal; }

.header__borderLeft {
  position: absolute;
  bottom: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-left-width: 60vw;
  border-top-width: 10vh;
  border-color: transparent transparent transparent white; }

.header__borderRight {
  position: absolute;
  bottom: 0;
  right: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-left-width: 40vw;
  border-bottom-width: 10vh;
  border-color: transparent transparent white transparent; }

@media (min-width: 768px) {
  .header__hamburgerMenu {
    font-size: 4.2rem; }
  .header__logo {
    font-size: 2.4rem; }
  .header__heroTitle {
    font-size: 4.2rem; }
  .header__heroSubTitle {
    font-size: 3.2rem; }
  .header__nav--exitItem {
    font-size: 4.2rem; }
  .header__nav--listItem {
    font-size: 3.2rem; } }

@media (min-width: 768px) and (min-width: 1064px) {
  .header__logo {
    font-size: 3rem; }
  .header__heroTitle {
    font-size: 5.2rem; }
  .header__heroSubTitle {
    font-size: 4.2rem; } }

.about__section--left {
  width: 100%; }

.about__section--image {
  width: 100%;
  padding-bottom: 20px; }

.about__section--title {
  font-size: 1.4rem;
  color: #ffc600;
  margin-top: 10px; }

@media (min-width: 768px) {
  .about__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .about__section--left {
      width: calc(50% - 15px);
      margin-right: 20px; }
    .about__section--right {
      width: calc(50% - 15px); }
    .about__section--title {
      font-size: 2.2rem; } }

@media (min-width: 1064px) {
  .about__section--right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

.skills {
  background: #ffc600; }
  .skills__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
    font-size: 2.4rem;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .skills__item {
    width: calc(50% - 40px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .skills__img {
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2; }
  .skills__text--small {
    font-size: 1.8rem; }
  .skills__text--medium {
    font-size: 2rem;
    margin-top: 15px; }

.removeColor {
  width: 100%;
  background: white;
  border-radius: 30%;
  padding: 10px;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
  opacity: 0.8;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.addColor {
  opacity: 1;
  filter: none;
  -webkit-filter: grayscale(0%); }

@media (min-width: 768px) {
  .skills__item {
    width: calc(30% - 40px); } }

@media (min-width: 1064px) {
  .skills__item {
    width: calc(25% - 50px); } }

.projects__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 35px 0;
  text-align: center; }

.projects__languages {
  color: #ffc600;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 10px 0;
  text-shadow: 0 0 1px black; }

.projects__content {
  padding-bottom: 10px; }

@media (min-width: 768px) {
  .projects__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .projects__item--reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  .projects__image {
    width: calc(50% - 15px); }
  .projects__description {
    width: calc(50% - 15px); } }

@media (min-width: 1064px) {
  .projects__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

.contact {
  text-align: center;
  background: #ffc600; }
  .contact__form {
    margin-bottom: 40px; }
  .contact__email {
    margin: 10px 0; }
  .contact__socialMedia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .contact__socialMedia .fab {
      color: black;
      font-size: 2.4rem; }
      .contact__socialMedia .fab:hover {
        text-shadow: 1px 1px 1px white, 1px -1px 1px white, -1px -1px 1px white, -1px 1px 1px white; }
  .contact__textInput {
    width: 100%;
    font-size: 1.8rem;
    padding: 5px;
    border: none; }
  .contact__message {
    width: 100%;
    resize: none;
    font-size: 1.8rem;
    padding: 5px;
    border: none; }
  .contact__submit {
    margin-top: 10px;
    border: solid 1px black; }
  .contact__infoSection {
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .contact__infoItem {
    color: black;
    font-size: 2rem;
    margin: 10px 0; }
  .contact__infoLink:hover {
    text-shadow: 1px 1px 1px white, 1px -1px 1px white, -1px -1px 1px white, -1px 1px 1px white; }
  .contact__location {
    display: none; }
  .contact__icon {
    font-size: 2rem;
    margin-right: 10px; }

@media (min-width: 1064px) {
  .contact__flexBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .contact__form {
    width: calc(75% - 15px); }
  .contact__section--right {
    width: calc(25% - 15px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .contact__location {
    display: block; } }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: black;
  padding: 5px 0; }
  .footer p {
    margin: 0;
    color: white;
    padding: 5px 0; }
  .footer a {
    color: white; }
